# Created by venv; see https://docs.python.org/3/library/venv.html
/*
!tfData/
!tfData/tfNT.py
!tfData/tfNT.py
!tfData/*.py
!tests/
!tests/*.py
!requirements.txt
!install.sh
!tfflask/
!run.sh
!test.sh
tfData/__pycache__/
